<link rel="stylesheet" href="../helpers.css">
<link rel="stylesheet" href="style.css">
<body class="content">
    <h1>Content</h1>

    <div class="box">BOX 1</div>
    <div class="box">BOX 2</div>
    <div class="box">BOX 3</div>
    <div class="box">BOX 4</div>
    <div class="box">BOX 5</div>
    <div class="box">BOX 6</div>
    <div class="box">BOX 7</div>
    <div class="box">BOX 8</div>
    <div class="box">BOX 9</div>
    <div class="box">BOX 10</div>
    <div class="box">BOX 11</div>
    <div class="box">BOX 12</div>
    <div class="box">BOX 13</div>
    <div class="box">BOX 14</div>
    <div class="box">BOX 15</div>
    <div class="box">BOX 16</div>
    <div class="box">BOX 17</div>
    <div class="box">BOX 18</div>
    <div class="box">BOX 19</div>
    <div class="box">BOX 20</div>
    <div class="box">BOX 21</div>
</body>
