.header {
    float: left;
    width: 100%;
    height: 6rem;
}

.sidebar {
    float: left;
    width: 16rem;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
    overflow: hidden;
}

.content {
    float: left;
    width: calc(100% - 16rem);
}

.footer {
    float: left;
    width: 100%;
    height: 6rem;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        padding-bottom: 0;
        margin-bottom: 0;
        overflow: auto;
    }
    .content {
        width: 100%;
    }
}