table.wrapper {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.header {
    height: 6rem;
}
.sidebar {
    width: 16rem;
}
.content {
}
.footer {
    height: 6rem;
}

@media screen and (max-width: 600px) {
    td {
        display: block;
        width: 100% !important;
        overflow: hidden;
    }
}